stages:
  - build
  - test
  - docker
  - update-manifests

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
cache:
  paths:
    - .m2/repository

build:
  stage: build
  image: maven:3.9-eclipse-temurin-17
  script:
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - "*/target/*.jar"
    expire_in: 1 hour

test:
  stage: test
  image: maven:3.9-eclipse-temurin-17
  script:
    - mvn test
  artifacts:
    reports:
      junit:
        - "*/target/surefire-reports/TEST-*.xml"

.docker_build:
  stage: docker
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_TOKEN
  script:
    - cd $SERVICE_DIR
    - docker build -t $DOCKER_HUB_USER/$SERVICE_NAME:$CI_COMMIT_SHORT_SHA -t $DOCKER_HUB_USER/$SERVICE_NAME:latest .
    - docker push $DOCKER_HUB_USER/$SERVICE_NAME:$CI_COMMIT_SHORT_SHA
    - docker push $DOCKER_HUB_USER/$SERVICE_NAME:latest

docker:api-gateway:
  extends: .docker_build
  variables:
    SERVICE_DIR: api-gateway
    SERVICE_NAME: api-gateway

docker:auth-service:
  extends: .docker_build
  variables:
    SERVICE_DIR: auth-service
    SERVICE_NAME: auth-service

docker:wallet-service:
  extends: .docker_build
  variables:
    SERVICE_DIR: wallet-service
    SERVICE_NAME: wallet-service

docker:transaction-service:
  extends: .docker_build
  variables:
    SERVICE_DIR: transaction-service
    SERVICE_NAME: transaction-service

docker:webhook-service:
  extends: .docker_build
  variables:
    SERVICE_DIR: webhook-service
    SERVICE_NAME: webhook-service

update-manifests:
  stage: update-manifests
  image: alpine:latest
  before_script:
    - apk add --no-cache git
    - git config --global user.email "ci@gitlab.com"
    - git config --global user.name "GitLab CI"
  script:
    - git clone https://oauth2:${CI_JOB_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git repo
    - cd repo
    - sed -i "s|codecorner/api-gateway:.*|codecorner/api-gateway:${CI_COMMIT_SHORT_SHA}|g" k8s/api-gateway.yaml
    - sed -i "s|codecorner/auth-service:.*|codecorner/auth-service:${CI_COMMIT_SHORT_SHA}|g" k8s/auth-service.yaml
    - sed -i "s|codecorner/wallet-service:.*|codecorner/wallet-service:${CI_COMMIT_SHORT_SHA}|g" k8s/wallet-service.yaml
    - sed -i "s|codecorner/transaction-service:.*|codecorner/transaction-service:${CI_COMMIT_SHORT_SHA}|g" k8s/transaction-service.yaml
    - sed -i "s|codecorner/webhook-service:.*|codecorner/webhook-service:${CI_COMMIT_SHORT_SHA}|g" k8s/webhook-service.yaml
    - git add k8s/
    - git commit -m "Update image tags to ${CI_COMMIT_SHORT_SHA} [skip ci]" || echo "No changes"
    - git push origin HEAD:${CI_COMMIT_REF_NAME}
  only:
    - main
