apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: codecorner/auth-service:3b695fcc
        imagePullPolicy: Always
        ports:
        - containerPort: 8001
        env:
        - name: SPRING_R2DBC_URL
          value: r2dbc:postgresql://postgres:5432/wallet_db
        - name: SPRING_R2DBC_USERNAME
          value: wallet_user
        - name: SPRING_R2DBC_PASSWORD
          value: wallet_pass
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-service
  ports:
  - port: 8001