apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webhook-service
  template:
    metadata:
      labels:
        app: webhook-service
    spec:
      containers:
      - name: webhook-service
        image: codecorner/webhook-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8005
        env:
        - name: WALLET_SERVICE_URL
          value: "http://wallet-service:8002"
        envFrom:
        - secretRef:
            name: db-credentials
---
apiVersion: v1
kind: Service
metadata:
  name: webhook-service
spec:
  selector:
    app: webhook-service
  ports:
  - port: 8005